.top-buffer {
  margin-top: 25px;
}

.bottom-buffer {
  margin-bottom: 20px;
}

input.ng-invalid.ng-dirty {
  border-color: red;
  background-color: #ffcccc;
}

.tabset {
  border: 1px solid grey;
  padding: 10px;
}

.inputSpecialtyName {
  width: 70% !important;
}
.inputSpecialty {
  width: 30% !important;
  border-right-width: 0;
}
.inputSpecialty:focus {
  width: 30%;
  border-right-width: 1px;
}

.multiselect {
  width:20em;
  height:15em;
  border:solid 1px #c0c0c0;
  overflow:auto;
}

.multiselect label {
  display:block;
}

.multiselect-on {
  color:#ffffff;
  background-color:#000099;
}
