<div class="form-group">
  <div class="row">
    <div class="col-sm-4">
      <label for="pasport">Паспорт</label>
      <input ng-model="papers[1].value"
             type="text"
             class="form-control"
             placeholder="серія №..."
             id="pasport">
    </div>

    <div class="col-sm-4">
      <label for="posvidcenya">Приписне посвідчення</label>
      <input ng-model="papers[2].value"
             type="text"
             class="form-control"
             placeholder="код..."
             id="posvidcenya">
    </div>

    <div class="col-sm-4">
      <label for="atestat">Атестат</label>
      <input ng-model="papers[3].value"
             type="text"
             class="form-control"
             placeholder="оцінка..."
             id="atestat">
    </div>

  </div>
</div>

