<div class="content-header">
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li><a href="#/list-person">Персони</a></li>
      <li class="active">Нова персона</li>
    </ol>
    <h2 class="content-header-title top-buffer bottom-buffer"><i class="fa fa-user-plus text-danger"></i>
      Перегляд персони</h2>
  </div>
</div>

<!-- main content -->
<div class="col-sm-12 col-md-12 new-proposal-wrapper">

  <div>
    <div class="row">
      <div class="col-md-9 view-form">

        <div class="row form-group container">
          <div class="col-md-3">
            <img class="photo" width="170px" src="../images/no-photo.jpg">
          </div>
          <div class="col-md-7">
            <h2 class="text-primary">{{entirePerson.person.name}}</h2>

            <div class="row">
              <div class="col-md-9 bottom-buffer">
                <h4>{{entirePerson.names[0].name}}</h4>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9">
                <p><b>Серія особової справи:</b> {{entirePerson.person.docSeries}}</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-9">
                <p><b>Номер особової справи:</b> {{entirePerson.person.docNum}}</p>
              </div>
            </div>

          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-4">
            <p><b>Тип персони:</b> {{personsTypes[entirePerson.person.personTypeId]}}</p>
          </div>
          <div class="col-md-4">
            <p><b>Стать:</b> {{genderTypes[entirePerson.person.genderTypeId]}}</p>
          </div>
          <div class="col-md-4">
            <p><b>Громадянство:</b> {{adminUnits[entirePerson.person.citizenCountryId]}}</p>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-4">
            <p><b>Дата народження:</b> {{entirePerson.person.begDate | date:"dd.MM.yyyy' р.'"}}</p>
          </div>
          <div class="col-md-4">
            <p><b>Сімейний стан:</b> {{marriedTypes[entirePerson.person.marriedTypeId]}}</p>
          </div>
          <div class="col-md-4">
            <p><b>Індекс матеріально відповідального:</b> {{entirePerson.person.identifier}}</p>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-4">
            <p><b>Резидент:</b> {{entirePerson.person.resident | checkmark}}</p>
          </div>
          <div class="col-md-4">
            <p><b>Військовозобовязаний:</b> {{entirePerson.person.isMilitary | checkmark}}</p>
          </div>
          <div class="col-md-4">
            <p><b>Гуртожиток:</b> {{entirePerson.person.isHostel | checkmark}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>


<div class="footer">
</div>
