<div class="container-fluid">
  <div class="row bottom-buffer">
    <div class="col-md-3">
      <h2><i class="fa fa-graduation-cap text-danger"></i> Вступна кампанiя</h2>
    </div>
    <div class="col-md-3 timeperiod">
      <select class="form-control"
              ng-model="timeperiod.timePeriodId"
              ng-options="opt.id as opt.name for opt in timeperiods">
        <option value="" disabled selected>Оберіть вступну кампанію</option>
      </select>
    </div>
    <div class="col-md-3 timeperiod">
      <button type="button" class="btn btn-primary" ng-click="pickTimePeriod()">Обрати</button>
    </div>
  </div>
  <!-- main content -->
  <div ng-show="timeperiod.timePeriodId" class="row">
    <!-- filter -->
    <div class="col-md-2 col-lg-2 filter">



      <form class="search-around" role="form">
        <div class="form-group">
          <input type="search" class="form-control" id="inputSearch" placeholder="Ключове слово">
        </div>
        <button type="submit" class="btn  btn-sm btn-primary">Шукати</button>
      </form>

    </div>
    <!-- end filter -->


    <div class="col-sm-12 col-md-12 content-data">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <button type="button" class="pull-left btn btn-primary"><i class="fa fa-filter "></i></button>

          <a href="#/new-proposal" class="col-md-offset-1">
            <button type="button" class="btn btn-success "><i class="fa fa-plus"></i> Додати пропозицію</button>
          </a>
          <button type="button" class="pull-right btn btn-primary" ng-click="openFiltersModal('sm')"><i
            class="fa fa-bars "></i></button>
        </div>

        <!-- Table -->
        <div>
          <table ng-table="tableParams" show-filter="true" class="table">

            <tr ng-repeat="prop in $data">
              <td data-title="headers[0].display" ng-show = "headers[0].visible">
                {{prop['id']}}
              </td>
              <td data-title="headers[1].display" ng-show = "headers[1].visible">
                {{prop['specialtyId']}}
              </td>
              <td data-title="headers[2].display" ng-show = "headers[2].visible" filter="{'departmentId':'text'}">
                {{prop['departmentId']}}
              </td>
              <td data-title="headers[3].display" ng-show = "headers[3].visible">
                {{prop['timePeriodId']}}
              </td>
              <td data-title="headers[4].display" ng-show = "headers[4].visible" filter="{'timePeriodCourseId':'text'}">
                {{prop['timePeriodCourseId']}}
              </td>
              <td data-title="headers[5].display" ng-show = "headers[5].visible">
                {{prop['specofferTypeId']}}
              </td>
              <td data-title="headers[6].display" ng-show = "headers[6].visible" filter="{'educationFormTypeId':'text'}">
                {{prop['educationFormTypeId']}}
              </td>
              <td data-title="headers[7].display" ng-show = "headers[7].visible">
                {{prop['licCount']}}
              </td>
              <td data-title="headers[8].display" ng-show = "headers[8].visible">
                {{prop['stateCount']}}
              </td>

              </tr>

            </table>
        </div>
        </div>
    </div>

      <div class="footer">
    </div>
  </div>
</div>
